@charset "utf-8";

* html #m {
	position: absolute;
	top: -1em;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 1em;
	line-height: 1em;
}
* html .wrapper {
	height: 100%;
	width: expression(
	(
		document.getElementById('m')
		&& document.getElementById('m').clientWidth < 976
	)
	?	'976px'
	:	(
			document.getElementById('m')
			&& document.getElementById('m').clientWidth < 1250
		)
		?	'100%'
		:	'1250px'
	);
}



/*6-7*/
.left, .right, .search_form div {
	*display:inline;
	*zoom:1;
}
.some {
	*position:relative;
	*zoom:1;
}
.search_form .submit input {
	*overflow: visible;
}
/*6-7*/



/*6*/
/*6*/

