@charset "utf-8";
/*reset*/
html,body,div,span,
h1,h2,h3,h4,p,blockquote,a,
small,strike,strong,b,em,i,sub,sup,img,ins,
ul,ol,li,dl,dt,dd,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td {
	border: none;
	padding:0;
	margin:0;
	outline:0;
	vertical-align:baseline
}
li {list-style:none}
textarea {resize: none;}
/*/reset*/

/*fonts*/
@font-face {font-family: 'PT Sans'; 
	src: url('../fonts/PTS55F_W.eot');
	src:
		local('PT Sans'),
		url('../fonts/PTS55F_W.woff') format('woff'),
		url('../fonts/PTS55F_W.ttf') format('truetype'),
		url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
	font-style: italic;
	src: url('../fonts/PTS56F_W.eot');
	src: local('PT Sans Italic'),
		url('../fonts/PTS56F_W.woff') format('woff'),
		url('../fonts/PTS56F_W.ttf') format('truetype'),
		url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/PTS75F_W.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Sans Bold'),
		url('../fonts/PTS75F_W.woff') format('woff'),
		url('../fonts/PTS75F_W.ttf') format('truetype'),
		url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}
/*/fonts*/


/*-----------------MAIN-STYLES-----------------*/
body {
	background: #fff url(../img/bg.png) 0 0 repeat;
	color: #000;
	font: 14px/18px 'PT Sans', Helvetica, sans-serif;
}
.wrapper-out {
	min-width: 996px;
	overflow: hidden;
}
.wrapper {
	margin: 0 auto;
	width: 880px;
	padding: 0 40px;
	background: url(../img/wrapper-bg.png) 50% 0 repeat-y;
}

/*.page {padding: 0 6px 0 12px;}*/



a {color: #105b63}
a:hover {color: #906; border-bottom-color: #906;}

h1 {
	font: bold 20px/26px 'PT Sans', sans-serif;
	margin: 0 0 18px 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
h2 {
	font: bold 18px/24px 'PT Sans', sans-serif;
	margin: 0 0 12px 0;
}
h3 {
	font: bold 14px/18px 'PT Sans', sans-serif;
	margin: 0 0 12px 0;
}

/*-----------------MAIN-STYLES-END-----------------*/




/*-----------------HEADER-----------------*/
/*up*/
.up-out {
	background: #fff;
}
.up {
	background: url(../img/up-bg.png) 0 100% repeat-x;
	min-height: 45px;
	margin: 0 0 -5px;
	padding: 0 0 1px;
	position: relative;
	z-index: 1;
}
.up-in {
	width: 900px;
	margin: 0 auto;
	position: relative;
	color: #797979;
	font-weight: bold;
	padding: 0 0 1px;
}
.up-help {
	display: inline-block;
	vertical-align: top;
	margin: 3px 20px 3px 0;
	padding: 3px 0 0;
	width: 246px;
	height: 30px;
	border-right: 1px solid #dadada;
}
.up-login {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0 0;
}
.up-login a {
	text-decoration: none;
	border-bottom: 1px dotted #105b63;
}
.up-login a:hover {
	border-bottom: 1px dotted #906;
}
.up-cart {
	position: absolute;
	top: 6px;
	right: 0;
}
.up-cart-cnt {
	display: inline-block;
	vertical-align: middle;
	margin: 4px 24px 0 0;
}
.up-cart-cnt span {
	font-size: 16px;
	line-height: 22px;
}
.up-in .submit, .up-in .submit div {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	background: url(../img/up-btns.png) 0 0 no-repeat;
}
.up-in .submit {
	margin: 0 7px 0 0;
}
.up-in .submit div {
	margin: 0 -7px 0 0;
	background-position: 100% -30px;
}
.up-in .submit a {
	color: #797979;
	display: inline-block;
	vertical-align: top;
	padding: 4px 14px 0;
	height: 26px;
	text-decoration: none;
	font: bold 14px/20px 'PT Sans', sans-serif;
}
.up-in .submit:hover, .up-in .submit-hover {
	background-position: 0 -66px;
}
.up-in .submit:hover div, .up-in .submit-hover div {
	background-position: 100% -96px;
}
.up-in .submit:active {
	background-position: 0 -66px;
	margin: 0 7px 0 0;
}
.up-in .submit:active div {
	background-position: 100% -96px;
}
.up-in .submit:hover a, .up-in .submit-hover a {
	color: #4c4c4c;
}


/*dropdown*/
.up-dropdown-out1 {
	display: none;
	background: #f1f1f1;
	margin: 0 0 5px;
	padding: 2px 0 1px;
}
.up-dropdown-outt {
	background: #fff;
	height: 2px;
	margin: 0 0 6px;
}
.up-dropdown {
	overflow-y: hidden;
	margin: 6px -80px 12px -20px;
	padding: 1px 0 0;
}
.up-col {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 -10000px 0;
	color: #000;
	width: 190px;
	padding: 13px 28px 10000px 20px;
	border-left: 1px solid #dadada;
}
.up-col:first-child {
	width: 220px;
	border-left: 0;
}
.up-dropdown-out {
	width: 900px;
	margin: 0 auto;
}
.up-col p {
	font-weight: normal;
}
/*/dropdown*/


/*accordion*/
.accord-lnk {
	text-decoration: none;
	border-bottom: 1px dotted #105b63;
	font-size: 18px;
	line-height: 24px;
}
.accord-lnk.current {
	border: 0;
	color: #000;
	font-size: 20px;
	line-height: 26px;
}
.accord {
	margin: 0 0 24px;
	display: none;
}
.map-mark {
	display: inline-block;
	vertical-align: top;
	width: 13px;
	min-height: 20px;
	background: url(../img/map-mark.png) 0 0 no-repeat;
}
.map-des {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	color: #797979;
}
.map-des div {
	margin: 6px 0 0;
}
.map-des a {
	text-decoration: none;
	border-bottom: 1px dotted #105b63;
}
.map-des a:hover {
	border-bottom-color: #906;
}
.worker {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	position: relative;
	top: -4px;
	left: 6px;
	font: italic 14px/18px 'PT Sans', sans-serif;
	letter-spacing: 0;
	text-transform: none;
	color: #797979;
    margin-right: -10px;
}
/*/accordion*/
/*contacts*/
.contacts {
	display: inline-block;
	vertical-align: top;
	margin: 4px 0 0 12px;
}
/*/contacts*/

/*up-cart*/
.up-cart-pl-out {
	position: relative;
	display: none;
	width: 880px;
	margin: 0 auto;
}
.up-cart-pl {
	position: absolute;
	top: 24px;
	right: -20px;
	width: 268px; 
	border: 3px solid #ffd34e;
	border-radius: 3px;
	background: #fff;
	padding: 24px 16px 8px;
	font-size: 16px;
	line-height: 22px;
	box-shadow: 0 6px 12px -3px rgba(81,52,2,0.75);
}
.up-cart-pl-top {
	background: url(../img/p-top.png) 0 0 no-repeat;
	width: 42px;
	height: 13px;
	position: absolute;
	top: -13px;
	right: 40px;
}
.up-item {
	margin: 0 0 24px;
}
.up-item-img,
.up-item-des {
	display: inline-block;
	vertical-align: top;
}
.up-item-img {
	width: 80px;
	margin: 0 20px 0 0;
}
.up-item-des {
	width: 160px;
}
.up-item-name {
	font-weight: bold;
}
.up-total {
	padding: 18px 0 18px 106px;
	border-top: 1px solid #d8d8d8;
}
.up-cart-btns {
	text-align: right;
	margin: 0 -8px 0 0;
}
.up-cart-btns .submit {
	margin-left: 14px;
}
.up-cart-btns .submit:active {
	margin-left: 15px;
}
.up-cart-konf {
	position: absolute;
	bottom: -30px;
	left: -60px;
	width: 109px;
	height: 110px;
	background: url(../img/konfeta-red.png) 0 0 no-repeat;
}
.up-cart-shar-l {
	position: absolute;
	width: 143px;
	height: 91px;
	top: 70px;
	right: 240px;
	background: url(../img/shar-t.png) 0 0 no-repeat;
}
.up-cart-shar-r {
	position: absolute;
	width: 293px;
	height: 67px;
	top: 120px;
	right: -93px;
	background: url(../img/shar-r.png) 0 0 no-repeat;
}
/*/up-cart*/
/*/up*/



/*layout*/
.header {
	position: relative;
	height: 256px;
	margin: 0 0 0 0;
}
/*layout*/


/*logo*/
#logo_box {
	display: block;
	height: 163px;
	width: 199px;
	position: absolute;
	top: 24px;
	left: 0;
}
#logo {
}
/*logo-end*/



/*menu*/
.menu {
	margin: 12px -8px 24px;
	border: 3px solid #ffd34e;
	border-radius: 8px;
	background-color: #fffad5;
	position: relative;
	z-index: 2;
}
.menu li {
	position: relative;
	border-top: 1px solid #f8e7a5;
}
.menu li:first-child {
	border-top: none;
}
.menu li a {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 52px;
	color: #bd7804;
	text-decoration: none;
	font: bold 18px/24px 'PT Sans', sans-serif;
}
.menu-img {
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 36px;
	text-align: center;
    margin-left: 9px;
}
.menu li a:hover {
	color: #906;
}

.menu .current {
	z-index: 1;
}
.menu li:hover {
	z-index: 2;
	border-color: transparent;
}
.menu li:hover .menu-img, .menu .current .menu-img {
	padding: 6px 0 8px;
}
.menu li:hover a {
	font-size: 26px;
	line-height: 26px;
	color: #efefef;
	text-shadow: 0 0 3px #555;
}
.menu .current a {
	font-size: 26px;
	line-height: 26px;
	color: #efefef;
	text-shadow: 0 0 3px #555;
}
.menu .current a:hover {
	color: #e2e2e2;
}
.menu-sale {
	position: absolute;
	width: 103px;
	height: 22px;
	text-align: center;
	background: url(../img/sale.png) 0 0 no-repeat;
	top: -31px;
	right: 80px;
	text-decoration: none;
	color: #d0f9f8;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	padding: 6px 0 0;
}
.menu-new {
	position: absolute;
	width: 71px;
	height: 18px;
	background: url(../img/new.png) 0 0 no-repeat;
	top: -49px;
	right: -12px;
	color: #f0eaad;
	font-size: 18px;
	line-height: 8px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 28px 0 0 16px;
}
.menu-under {
	display: none;
	width: 272px;
	height: 68px;
	background: url(../img/menu-sub.png) 0 -90px no-repeat;
	left: -35px;
	top: -6px;
	position: absolute;
}
.current .menu-under {
	display: block;
}
.menu li:hover .menu-under {
	display: block;
	background-position: 0 0;
}
.menu li:hover .submenu, .menu li:hover .konfets {
	display: block;
}
.submenu {
	display: none;
	position: absolute;
	left: 220px;
	top: -48px;
	width: 230px;
	border-top: 1px solid #e9dcb5;
	border-left: 1px solid #e0cf99;
	border-bottom: 1px solid #be9e5c;
	border-right: 1px solid #c7ab68;
	border-radius: 3px;
	background: url(../img/submenu-bg.png) 0 0 repeat;
	box-shadow: 0 6px 12px -3px rgba(81,52,2,0.75), 0 0 2px 0 rgba(81,52,2,0.75);
}
.submenu li a {
	display: inline-block;
	padding: 8px 0;
	height: auto;
	font-size: 16px;
	line-height: 22px;
	color: #105b63;
	text-decoration: underline;
}
.menu li:hover li a:hover {
	color: #906;
}
.submenu ul {
	border: 2px solid #d8c27e;
	padding: 8px 22px 18px;
	min-height: 134px;
}
.menu li:hover li a {
	font-size: 16px;
	line-height: 22px;
	color: #105b63;
	text-shadow: none;
}
.konfets {
	display: none;
	position: absolute;
	width: 365px;
	height: 228px;
	background: url(../img/submenu-konf.png) 0 0 no-repeat;
	top: -120px;
	left: 235px;
}
/*menu-end*/
/*--------------HEADER-END--------------*/




/*----------------PAGE------------------*/
/*layout*/
.left, .center, .right, .item-left, .item-right,
.personal-left, .personal-right {
	display: inline-block;
	vertical-align: top;
}
.left {
	width: 200px;
	margin: 0 36px 0 0;
}
.center {
	width: 640px;
}
.right {
	width: 200px;
	margin: 0 -14px 0 50px;
}
.personal-left {
	width: 440px;
	margin: 0 10px 48px 0;
}
.personal-right {
	width: 200px;
	margin: 0 -20px 0 0;
}
/*/layout*/


/*slider*/
.slider, .items-slider {
	width: 646px;
	position: relative;
}
.slider {
	height: 196px;
	position: absolute;
	top: 6px;
	right: 0;
}
.items-slider {
    margin: 48px 0 0;
}
.items-slider .slider-left, .items-slider .slider-right {
    opacity: 0.4;
}
.slider-left, .slider-right {
	background: url(../img/slider-bg.png) 0 0 no-repeat;
	height: 196px;
	width: 14px;
	position: absolute;
	top: 0;
}
.slider-right {
	right: 0;
	background-position: 100% 0;
}
.slider-left {
	left: 0;
}
.slider li {
	width: 646px;
	height: 177px;
	position: relative;
	padding: 19px 19px 19px 0;
	text-align: center;
}
.items-slider li {
	width: 160px;
	margin: 0 76px 0 0;
}
.slider li img {

}
.slider-text {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}
.slider-text span, .slider-text div {
	background: #ffd34e;
	font-weight: bold;
	color: #bd7804;
	font-size: 18px;
	line-height: 22px;
	padding: 6px 10px 0;
}
.slider-text div {
	padding: 6px 10px 6px;
}
.slider-text div h1 {
	margin: 0;
	padding: 0;
}
.slider-text a {
	font-size: 24px;
	line-height: 30px;
}
.slider .jcarousel-clip {
	width: 665px;
	height: 215px;
	overflow: hidden;
}
.items-slider .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-prev, .jcarousel-next {
	position: absolute;
	height: 40px;
	width: 14px;
	top: 77px;
	background: url(../img/slider-arr.png) 0 100% no-repeat;
	cursor: pointer;
}
.jcarousel-prev {
	left: -21px;
}
.jcarousel-next {
	right: -21px;
	background-position: 100% 100%;
}
.jcarousel-prev:hover {
	background-position: 0 0;
}
.jcarousel-next:hover {
	background-position: 100% 0;
}
.slider-ctrls {
	position: absolute;
	bottom: -19px;
	left: 0;
}
.ctrl {
	display: inline-block;
	vertical-align: top;
	width: 19px;
	height: 19px;
	background: url(../img/slider-ctrls.png) 5px 0 no-repeat;
	cursor: pointer;
}
.ctrl:hover {
	background-position: -24px 0;
}
.ctrl.current {
	background-position: -53px 0;
}
/*/slider*/


/*bread*/
.bread {
	margin: 0 0 18px;
}
.bread, .bread-lnk {
	color: #989898;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
}
/*/bread*/




/*items*/
.items {
	margin: 48px -80px 72px 0;
}
.item {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin: 0 76px 72px 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	position: relative;
}
.item-img {
	text-align: center;
	height: 160px;
    margin: 0 0 24px;
}
.item-des {
	margin: 0 0 8px;
}
.item-new {
	background: url(../img/item-new.png) 0 0 no-repeat;
	position: absolute;
	top: -40px;
	right: 0;
	width: 46px;
	height: 30px;
	padding: 18px 0 0 30px;
	color: #bd7804;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
.item-sale {
	position: absolute;
	background: url(../img/item-sale.png) 0 0 no-repeat;
	width: 63px;
	height: 71px;
	top: -48px;
	right: 0;
	padding: 12px 0 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}
.item-sale span {
	text-transform: uppercase;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 0.1em;
	display: block;
}
.cats-curr {
	position: relative;
	font: bold 20px/26px 'PT Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.show-more {
	text-align: center;
	width: 640px;
}
.btn-round {
	display: inline-block;
	vertical-align: top;
	padding: 5px 5px 0 5px;
	height: 38px;
	background: url(../img/btn-base.png) 0 0 repeat-x;
	border-radius: 8px;
}
.cats {
	margin: -8px 0 0;
	display: inline-block;
	position: relative;
}
.cats.focused {
    z-index: 100;
}
.cats.focused .dropdown {
    display: block;
}
.cats .dropdown {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	margin: -14px -18px -18px;
	padding: 52px 18px 18px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.cats .dropdown ul {
	max-height: 400px;
	overflow-y: auto;
	margin: 0 -18px -18px 0;
}
.cats .dropdown li {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin: 0 0 8px;
}
.cats-curr i {
	display: inline-block;
	vertical-align: top;
	background: url(../img/cats-trigger.png) 0 0 no-repeat;
	width: 13px;
	height: 19px;
	margin: 4px 0 0;
	opacity: 0.3;
	cursor: pointer;
}
.cats-curr i:hover {
	opacity: 0.6;
}
/*/items*/

/*item-page*/
.item-page {
	margin: 0 0 48px;
}
.item-art {
	color: #989898;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	vertical-align: top;
	margin: 4px 0 0 20px;
}
.item-img-zss {
	margin: 8px 0 48px 40px;
}
.item-img-zs {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 60px;
	width: 60px;
	margin: 0 3px 0 0;
}
.item-img-zs.current {
	z-index: 1;
}
.item-img-fr {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.item-img-zs.current .item-img-fr {
	top: -9px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	background: url(../img/item-img-fr.png) 0 0 no-repeat;
}
.item-left {
	width: 440px;
	margin: 0 40px 48px 0;
}
.item-right {
	width: 150px;
	margin: 0 0 48px;
}
.item-pars {
	margin: 0 0 24px;
}
.item-par {
	margin: 0 0 18px;
}
.item-par-name {
	color: #808080;
	text-transform: lowercase;
}
.item-par-val {
	font: bold 16px/20px 'PT Sans', sans-serif;
}
.item-left.text {
	font: 16px/24px 'PT Sans', sans-serif;
}
.tocart, .tocheck {
	display: inline-block;
	vertical-align: top;
	padding: 8px;
	border-radius: 2px;
	background: #ffd34e;
}
.tocart-price, .tocheck {
	color: #bd7804;
}
.tocart-price div {
	color: #633f02;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin: 0 0 6px;
}
.tocheck-cost {
	color: #633f02;
}
.tocheck .label {
	display: inline-block;
	vertical-align: top;
	width: 70px;
	line-height: 14px;
	margin: 0 0 10px;
}
.tocheck-cost {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: -0.05em;
	float: right;
}
/*/item-page*/



/*check*/
.check {
	margin: 0 0 48px 0;
}
.check-step {
	margin: 48px 0 0;
}
.check-col {
    display: none;
    vertical-align: top;
	width: 400px;
	margin: 0 36px 0 0;
}
.check-col.current, .check-radio.check-col {
    display: inline-block;
}
.check-col-margin {
	margin: 0 0 0 160px;
}
.check-num {
	display: inline-block;
	vertical-align: top;
	margin: -6px 10px 0 0;
	height: 35px;
	width: 35px;
	font: bold 18px/35px 'PT Sans', sans-serif;
	color: #bd7804;
	text-align: center;
	background: #fffad5;
	border: 3px solid #ffd558;
	border-radius: 50%;
}
.ckeck-login {
	font: italic 16px/24px 'PT Sans', sans-serif;
	letter-spacing: 0;
	text-transform: none;
	margin: 0 0 0 10px;
}
.ckeck-login a, 
.check-post a {
	text-decoration: none;
	border-bottom: 1px dotted #105b63;
}
.ckeck-login a:hover, 
.check-post a:hover {
	border-bottom-color: #906;
}
.check-post {
	display: inline-block;
	vertical-align: top;
	padding: 4px 10px;
	font-size: 12px;
	line-height: 16px;
	margin: 0 40px 24px 0;
}
.check-post.current {
	background: #ffd34e;
	border-radius: 3px;
}
.check-post a {
	font-size: 16px;
	line-height: 20px;
}
.check-post span {
	display: block;
}
.check-post.current a, .check-post.current span {
	border: 0;
	color: #633f02;
	font-weight: bold;
}
.pay {
	margin: 0 0 0 56px;
	font: 16px/24px 'PT Sans', sans-serif;
}
.pay p {
	margin: 0 0 10px;
}
/*/check*/


/*cart*/
.cart h1 {
	margin: 0 0 48px;
}
.cart-item {
	position: relative;
	margin: 0 0 48px;
}
.cart_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: -40px;
    bottom: 0;
    text-align: right;
    padding-right: 80px;
    padding-top: 52px;
    background: rgba(255, 255, 255, 0.5);
}
.cart_deleted .cart_overlay {
    display: block;
}
.cart-img, .cart-name, .cart-cost {
	display: inline-block;
	vertical-align: top;
}
.cart-img {
	width: 200px;
	margin: 0 36px 0 0;
	text-align: center;
}
.cart-name {
	width: 160px;
	margin: 8px 0 0 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}
.cart-cost {
	width: 236px;
	text-align: right;
	font-size: 16px;
	line-height: 22px;
	margin: 8px 0 0;
}
.cart-price, .cart-total {
	display: inline-block;
	vertical-align: top;
	margin: 8px 10px 0 0;
}
.cart-total {
	margin: 8px 0 0 20px;
	font-weight: bold;
}
.cart-del {
	position: absolute;
	top: 6px;
	right: -40px;
	width: 50px;
	height: 50px;
	background: url(../img/del-icon.png) 0 0 no-repeat;
}
.cart-del-lnk {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../img/del-cross.png) 50% 50% no-repeat;
	top: 11px;
	left: 50%;
	margin: 0 0 0 -11px;
}

/*cart_change_cnt*/
.cart_change_cnt {
    display: none;
    position: absolute;
    background: #fffad5;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 #a09669;
    padding: 20px;;
}
.price_cnt,
.total_cnt {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    text-align: right;
    color: #bd7804;
    font: 16px/34px 'PT Sans', sans-serif;
}
.total_cnt {
    font-weight: bold;
}
.cart_change_cnt .input {
    display: inline-block;
    vertical-align: top;
}
.cart_change_cnt .input input {
    width: 23px;
    text-align: right;
    font-size: 16px;
}
.add_cnt,
.min_cnt {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    height: 19px;
    width: 19px;
    background: url(../img/add_minus.png) 0 50% no-repeat;
    cursor: pointer;
    margin: 10px -14px 0 0;
}
.add_cnt {
    background-position: 100% 50%;
    margin: 10px 0 0 -14px;
}
.cart_change_cnt .btn-grey.submit {
    margin-right: 20px;
}
/*/cart_change_cnt*/
/*/cart*/



/*discount*/
.discount {
	height: 127px;
	width: 135px;
	padding: 40px 30px 0 30px;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	background: url(../img/cloud.png) 0 0 no-repeat;
	margin: 0 0 48px;
}
.discount-btns {
	margin: 8px 0 0;
	text-align: center;
}
.discount-btns .submit {
	margin-right: 18px;
}
.discount-btns .submit:active {
	margin-right: 17px;
}
/*/discount*/



/*personal*/
.personal-info {
	position: relative;
	margin: 0 -3px 0 -8px;
	padding: 26px 0 0 18px;
	border: 3px solid #ffd34e;
	border-radius: 3px;
}
.personal-info-top {
	background: url(../img/p-top.png) 0 0 no-repeat;
	width: 42px;
	height: 13px;
	position: absolute;
	top: -13px;
	left: 25px;
}
.p-label {
	color: #808080;
	line-height: 14px;
    margin: 0 0 4px;
}
.p-val a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #000;
	font: bold 16px/16px 'PT Sans', sans-serif;
	font-style: italic;
}
.p-val em {
	position: relative;
	top: 6px;
}
.p-spam {
	float: right;
	width: 160px;
}
.p-spam span {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	font-size: 12px;
	line-height: 14px;
	color: #808080;
}
.p-submit {
	position: absolute;
	right: 40px;
	bottom: 18px;
}
.p-order {
	padding: 18px 0 0;
	margin: 0 0 24px;
	border-top: 1px solid #d8d8d8;
}
.p-order:first-child {
	border-top: 0;
}
.p-order-info, .p-order-items, .p-order-status {
	display: inline-block;
	vertical-align: top;
}
.p-order-info {
	width: 140px;
	margin: 0 16px 0 0;
}
.p-order-num {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}
.p-order-sum {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	margin: 10px 0 0 20px;
}
.p-order-sum div, .p-order-num div {
	font-size: 14px;
	line-height: 18px;
	color: #808080;
	font-weight: normal;
}
.p-order-items {
	width: 320px;
	margin: 0 36px 0 0;
}
.p-order-cat {
	color: #808080;
}
.p-order-name {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 14px;
}
.p-order-status {
	width: 120px;
	text-align: right;
}
.p-order-status-in {
	display: inline-block;
	vertical-align: top;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}
.stat-new {
	background: #fffad5;
	color: #bd7804;
}
.stat-ok {
	background: #e2e2e2;
	color: #5d5d5d;
}
/*/personal*/



/*text-page*/
.text p {margin-bottom:18px}
.text ul, .text ol {margin:0 0 18px 36px}
.text ul li {list-style:outside disc}
.text ol li {list-style:outside decimal}
.text h2, .text h3 {margin: 12px 0 9px 0;}
.text table {
	margin-bottom:18px;
	font-size:12px;
	border-collapse: collapse;
}
.text tr, .text td, .text th {
	border:1px solid #eee2ba;
	padding:4px 8px 4px 8px;
}
.text th {
	font-weight: bold;
	background-color:#f3e9cb;
	color:#000;
	text-align:center;
}
.img_left {
	float:left;
	margin:0 18px 0 0; 
}
.img_right {
	float:right;
	margin:0 0 0 18px; 
}
/*/text-page*/
/*-----------------PAGE-END-----------------*/




/*-----------------FOOTER-----------------*/
.footer {
	position:relative;
	margin:36px -30px 48px;
	padding:14px 30px 8px;
	background: #f0f0f0;
}
.footer-tel {
	font: bold 18px/24px 'PT Sans', sans-serif;
}
.socs {
	margin: 8px 0;
}
.footer-menu li {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	margin: 0 36px 6px 0;
}
#copyright {
	margin: 0 -30px 0 0;
	color: #9a9a9a;
}
.footer-sh {
	position: absolute;
	width: 966px;
	height: 14px;
	bottom: -14px;
	left: -13px;
	background: url(../img/footer-sh.png) 0 0 no-repeat;
}
#madein {
}
/*-----------------FOOTER-END-----------------*/




/*-----------------STUFF-----------------*/
/*overlay*/
.overlay {
    display: none;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	background: url(../img/overlay-bg.png) 0 0 repeat;
	z-index: 20000;
}
.window-out {
	position: relative;
	width: 720px;
	margin: 100px auto;
}
.window {
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	padding: 24px 40px;
}
.window p {
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 18px;
}
.window p b {
	font-size: 18px;
	line-height: 24px;
}
.window .input span {
	width: 100px;
}
.window .check-col-margin {
	margin: 0 0 0 120px;
}
.window-close {
	position: absolute;
	top: -40px;
	right: -36px;
	width: 36px;
	height: 36px;
	background: url(../img/window-close.png) 0 0 no-repeat;
}
.konf-red,
.konf-yel,
.konf-purp,
.pugov-red,
.pugov-green,
.pugov-purp,
.shar-t,
.shar-r {
	position: absolute;
}
.konf-red {
	right: -60px;
	top: 15%;
	width: 109px;
	height: 110px;
	background: url(../img/konfeta-red.png) 0 0 no-repeat;
}
.konf-yel {
	left: 60px;
	top: -48px;
	width: 119px;
	height: 119px;
	background: url(../img/konfeta-yel.png) 0 0 no-repeat;
}
.konf-purp {
	left: -100px;
	top: 15%;
	width: 65px;
	height: 59px;
	background: url(../img/konfeta-purp.png) 0 0 no-repeat;
}
.pugov-red {
	left: -50px;
	bottom: 5%;
	width: 115px;
	height: 115px;
	background: url(../img/pugov-red.png) 0 0 no-repeat;
}
.pugov-green {
	left: 70%;
	bottom: -36px;
	width: 88px;
	height: 88px;
	background: url(../img/pugov-green.png) 0 0 no-repeat;
}
.pugov-purp {
	right: -100px;
	top: 70%;
	width: 51px;
	height: 55px;
	background: url(../img/pugov-purp.png) 0 0 no-repeat;
}
.shar-t {
	left: 50%;
	top: -60px;
	width: 143px;
	height: 91px;
	background: url(../img/shar-t.png) 0 0 no-repeat;
}
.shar-r {
	right: -100px;
	top: 5%;
	width: 293px;
	height: 67px;
	background: url(../img/shar-r.png) 0 0 no-repeat;
}
/*/overlay*/




/*pagination*/
.pagination {
	font:16px/18px 'PT Sans', sans-serif;
	line-height:24px;
	width:300px;
	margin:0 0 6px 0;
	padding:18px 0 18px 0;
}
.current_page {
	color:#000;
	background:#fdf1be;
	padding:3px 5px 3px 5px;
	border-radius:4px;
	border:1px solid #fff;
	text-decoration:none;
}
.current_page:hover {color:#fff;}
.pagination span, .pagination a {margin-right:18px;}
/*/pagination*/


.cl {clear:both}

/*----------------FORMS--------------------*/
.input, .textarea, .sels {
	margin: 0 0 24px;
}
.input input, .textarea textarea, .p-input input {
	display: inline-block;
	vertical-align: top;
	background: #fbfbfb;
	border: 2px double #e3e3e3;
	min-height: 22px;
	padding: 4px 8px;
	font: 16px/22px 'PT Sans', sans-serif;
	border-radius: 8px;
	width: 220px;
}
.input-zs input {
	width: 42px;
}
.input-zs {
	display: inline-block;
	vertical-align: top;
}
.input.input-nomarg label span {
	width: 80px;
}
.input-nomarg {
	margin: 0 0 24px 13px;
}
.textarea textarea {
	height: 74px;
}
.input b {
	display: inline-block;
	vertical-align: top;
	padding: 4px 8px;
	font: 14px/20px 'PT Sans', sans-serif;
	border-radius: 8px;
	width: 220px;
	margin: 4px 0 0;
}
.input label span, .textarea label span, .sels label span {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin: 6px 14px 0 0;
	text-align: right;
	font: bold 16px/22px 'PT Sans', sans-serif;
}
.nobold label span {
	font-weight: normal;
}
.input label span i, .textarea label span i {
	display: block;
	font: 14px/18px 'PT Sans', sans-serif;
}
.p-input {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 36px 28px 0;
    min-width: 100px;
}
.p-input input {
    display: none;
    position: absolute;
    left: -6px;
    top: 14px;
    width: 154px;
}
.p-ok {
    display: none;
    width: 21px;
    height: 20px;
    background: url(../img/ok.png) 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    top: 23px;
    left: 140px;
}
.help-text {
	display: inline-block;
	font-style: italic;
	font-size: 16px;
	line-height: 22px;
	width: 200px;
	margin: 0 0 0 40px;
}
.radio {
    position: relative;
	margin: 0 0 10px;
}
.radio_overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0.5;
}
.submit {
	margin: 0 10px 0 0;
}
.submit, .submit div {
	display: inline-block;
	vertical-align: top;
	height: 34px;
}
.btn-green, .btn-green div {
	background-image: url(../img/btns-green.png);
}
.btn-grey, .btn-grey div {
	background-image: url(../img/btns-grey.png);
}
.btn-lgrey, .btn-lgrey div {
	background-image: url(../img/btns-lgrey.png);
}
.submit div {
	margin: 0 -10px 0 0;
	background-position: 100% -34px;
}
.btn-green a, .btn-green input {
	color: #4a5f0c;
}
.btn-grey a, .btn-grey input {
	color: #4f4f4f;
}
.btn-lgrey a, .btn-lgrey input {
	color: #797979;
}
.submit a, .submit input {
	display: inline-block;
	vertical-align: top;
	padding: 4px 14px 0;
	height: 30px;
	text-decoration: none;
	font: bold 18px/24px 'PT Sans', sans-serif;
    background: none;
    border: 0;
}
.small-font a {
	font: bold 14px/20px 'PT Sans', sans-serif;
}
.submit:hover {
	background-position: 0 -78px;
}
.submit:hover div {
	background-position: 100% -112px;
}
.submit:active {
	background-position: 0 -156px;
	margin: 2px 9px -2px 1px;
}
.submit:active div {
	background-position: 100% -190px;
}
.submit.no_active {
    background-position: 0 0;
    opacity: 0.3;
}
.submit.no_active div {
    background-position: 100% -34px;
}
.submit.no_active a {
    cursor: default;
}
.cart-icon, .help-icon, .left-arr {
	display: inline-block;
	vertical-align: top;
	background: url(../img/btns-icons.png) 0 0 no-repeat;
}
.cart-icon, .help-icon {
	width: 15px;
	height: 15px;
	margin: 2px 6px 0 0;
}
.cart-icon {
	background-position: -24px 0;
}
.left-arr {
	margin: 2px -2px 0 6px;
	height: 21px;
	width: 12px;
	background-position: -48px 0;
}
/*form_search*/
.form_search {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px; /*for web-kit*/
}
.form_search div {
	display: inline-block;
	vertical-align: top;
}
.form_search input {
	margin: 0;
	padding: 0 5px;
	font-size: 14px;
	line-height: 16px;
	height: 26px;
	border: 0;
	background: #efefef;
	float: left; /*for IE отступ сверху в 1px*/
}
.form_search input:focus {
	outline: none;
}
.form_search .submit input {
	background: #e1e1e1;
}
.form_caption {
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 18px;
}
.submit, .submit div {
	display: inline-block;
	vertical-align: top;
}
.i-checkbox, .i-radio {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 32px;
	width: 29px;
	background: url(../img/radio-check.png) 0 0 no-repeat;
}
.i-checkbox {
	background-position: 100% 0;
}
.i-checkbox.i-on {
	background-position: 100% 100%;
}
.i-radio.i-on {
	background-position: 0 100%;
}
.i-checkbox a, .i-radio a {
	display: block;
	position: absolute;
	height: 20px;
	width: 20px;
	top: 5px;
	left: 5px;
}
ul.errorlist li {
    color: #af2121;
}
/*/form_search*/
/*--------------FORMS_END------------------*/