<a href="{% url sale_list %}">Sale</a>
<a href="{% url new_list %}">New</a>
<ul>
    {% for item in menu %}
        <li {% if item.slug == current_category %}class="current"{% endif %}>
            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
            {% if item.get_children %}
                <ul>
                {% for child in item.get_children %}
                    <li>
                        &mdash; <a href="{{ child.get_absolute_url }}">{{ child.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>