{% load siteblocks_extras products_extras slider_extras orders_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block META_description %}{{ meta.description }}{% endblock %}"/>
    <meta name="keywords" content="{% block META_keywords %}{{ meta.keywords }}{% endblock %}"/>
    <link href="/media/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="/media/js/fancybox/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css" />
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen" href="/media/css/ie.css" /><![endif]-->
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery.masonry.js"></script>
    <script type="text/javascript" src="/media/js/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/media/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    <script type="text/javascript" src="/media/js/fancybox/helpers/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="/media/js/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="/media/js/script.js"></script>
    <script type="text/javascript" src="/media/js/sysMessage.js"></script>
    <title>
        {% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title ''  %}
                    {{ meta.title }} &mdash;
                {% endifnotequal %}
            {% endif %}
        {% endblock %}
        {{ site_name }}
    </title>
</head>

<body>

{% comment %}
<!-- вытаскиваю из контекстного процессора -->
{{ phonenum }}
{{ workemail }}

{{ delivery_text|safe }}
{{ payment_text|safe }}
{{ return_text|safe }}
{{ contacts|safe }}

{% if user.is_authenticated %}
    <a href="/cabinet/">Личный кабинет</a>
{% else %}
    <a class="fancybox" href="#auth_form">Вход</a>
    <a href="/cabinet/registration_form/">Регистрация</a>
{% endif %}

<!-- надпись "2 товара на 1 420" -->
{% block_cart 'short' %}

<!-- блок-выпадашка с товарами -->
{% block_cart 'block' %}

<!-- шаблонынй тэг cлайдер -->
{% block_slider %}
{% endcomment %}


{% block main %}

{% endblock %}

{% comment %}<!-- шаблонынй тэг меню в самом низу страницы -->
{% block_footer_menu %}{% endcomment %}

<!-- форма авторизации -->
{% if not user.is_authenticated %}
    <div style="display: none;">
        <form class="auth_form" id="auth_form" method="post" action="{% url auth_login %}?next={% if request.path == '/show_order_form/' %}{{ request.path }}{% else %}{{ next_url }}{% endif %}">
            {% csrf_token %}
            <div class="window-form">
                <div class="window-form-title"><b>Войти</b> или <a href="/cabinet/registration_form/" class="window-form-doreg">зарегистрироваться</a></div>
                <div class="input">
                    <span>E-mail:</span>{{ auth_form.username }}{{ auth_form.username.errors }}
                </div>
                <div class="input">
                    <span>Пароль:</span>{{ auth_form.password }}{{ auth_form.password.errors }}
                    <a class="help-text" href="/cabinet/password/reset/">Забыли пароль?</a>
                </div>
                <div class="submit">
                    <div>
                        <input type="submit" value="Войти" />
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endif %}


<!-- фича для вывода всевозможных системных сообщений -->
{% if request.GET.sys_message %}
    <script type="text/javascript">
        ShowSysMessage('{{ request.GET.sys_message }}', 8000);
    </script>
{% endif %}
{% if sys_message %}
    <script type="text/javascript">
        ShowSysMessage('{{ sys_message }}', 8000);
    </script>
{% endif %}


</body>
</html>