{% extends "base.html" %}

{% load thumbnail products_extras %}

{% block title %}
    Главная &mdash;
{% endblock %}

{% block main %}
    {% block_category_menu request.path %}

    <!-- СЛОН-ДРАКОН РЕКОМЕНДУЕТ -->
    {% for product in recomended_products %}
    <div>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        {{ product.get_str_price }}
        {{ product.image }}
        {{ product.is_new }}
        {{ product.sale_value }}
    </div>
    {% endfor %}

    <!-- НЕДАВНО КУПИЛИ -->
    {% for product in recently_buyed_products %}
    <div>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        {{ product.get_str_price }}
        {{ product.image }}
        {{ product.is_new }}
        {{ product.sale_value }}
    </div>
    {% endfor %}

{% endblock %}

