{% extends "base.html" %}

{% block title %}
       Оформление заказа &mdash;
{% endblock %}

{% block main %}
    <div class="order_final">
        <div class="text text_page">
            <h1>Ваш заказ успешно оформлен под номером {{ order.id }}</h1>
            <p>Вся информация о заказе выслана на контактный e-mail. Наш менеджер скоро с Вами свяжется чтобы уточнить время доставки.</p>
            {% if reg_form %}
                <p>Вы занесли уже большую часть информации, чтобы участвовать в наших акциях и специальных предложения. Мы советуем Вам зарегистрироваться на нашем сайте.</p>
            {% endif %}
        </div><!--/text-->
        {% if reg_form %}
            <form class="final_reg" method="post" action="/registration_form/">
                <div class="input">
                    <label><span>E-mail:</span> {{ reg_form.email }}
                        <div class="help-text">{{ reg_form.username.errors }}
                            {{ reg_form.email.errors }}</div></label>
                </div>
                <div class="input">
                    <label><span>Осталось только придумать пароль:</span> {{ reg_form.password1 }}
                        <div class="help-text">{{ reg_form.password1.errors }}</div></label>
                </div>
                <div class="input">
                    <label><span>Повторение пароля:</span> {{ reg_form.password2 }}
                        <div class="help-text">{{ reg_form.password2.errors }}</div></label>
                </div>
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <div class="check-col-margin">
                    <div class="submit btn-green">
                        <div><input type="submit" value="Зарегистрироваться" /></div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div><!--/order_final-->
{% endblock %}