{% extends "base.html" %}
{% load i18n pages_extras  %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block wrapper_out_class %}page-cabinet{% endblock %}

{% block main %}
    <script type="text/javascript">
        var cnt = 5;

        setInterval(function(){
            $('.counter').html(cnt);
            cnt--;
        }, 1000);

        setTimeout(function(){
            window.location = '/cabinet/';
        },6000);
    </script>
    <div class="text">
        <h1>{% trans 'Password change successful' %}</h1>

        <div class="personal">

            <div class="text">
                <p>{% trans 'Your password was changed.' %}</p>
            </div><!--/text-->
        </div>
        <div>Переход на страницу кабинета произойдёт через <span class="counter"></span> сек.</div>
    </div>
{% endblock %}