{% extends "base.html" %}

{% load thumbnail siteblocks_extras pages_extras %}

{% block title %}
        Регистрация &mdash;
{% endblock %}

{% block main %}
    	<div class="center">
    		<h1>Регистрация</h1>
    		<form method="post" action="/cabinet/registration_form/">{% csrf_token %}
                {{ error_mess }}
                <div class="input">
                    <label><span>E-mail:</span>{{ reg_form.email }}{{ reg_form.username.errors }}{{ reg_form.email.errors }}</label>
                </div>
                <div class="input">
                    <label><span>Пароль:</span>{{ reg_form.password1 }}{{ reg_form.password1.errors }}</label>
                </div>
                <div class="input">
                    <label><span>Пароль еще раз:</span>{{ reg_form.password2 }}{{ reg_form.password2.errors }}<div class="help-text">{{ reg_form.non_field_errors }}</div></label>
                </div>
                <div class="check-col-margin">
                    <div class="submit btn-green">
                        <div><input type="submit" value="Зарегистрироваться" /></div>
                    </div>
                </div>
    		</form>
    	</div>
{% endblock %}